
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background: url(/img/bg.gif) #0e0e0e;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.wrapper {
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
}

.w600 { width: 600px; }
.w178 { width: 178px; }
.w620 { width: 620px; }
.w158 { width: 158px; }
.h120 { min-height: 120px; }
.h680 { min-height: 680px; }

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}
.center {
	text-align: center;
}

img {
	border: 0;
}
a {
	color: inherit;
}

/* Header */
header {
	height: 120px;
	padding: 32px 0;
	text-align: center;
	color: #DDD;
	background-color: #0e0e0e;
}
header h1 {
	margin: 0;
	font-size: 26px;
}
header strong {
	color: #FFCC00;
}

/* Footer */
footer {
	position: fixed;
	width: 780px;
	bottom: 0;
	padding: 6px 0;
	font-size: 10px;
	text-align: center;
	color: #DDD;
	background-color: #0e0e0e;
}

/* Navigation */
nav ul {
	display: block;
	margin: 0;
	padding: 0;
}
nav li {
	list-style: none;
	display: block;
	float: left;
	width: 128px;
	margin: 3px 1px;
}
nav a {
	display: block;
	padding: 7px 0;
	background-color: #212121;
	text-decoration: none;
	text-align: center;
}

/* Main Content */
main {
	margin: 0 0 26px;
}
main div {
	margin-bottom: 2px;
	background-color: #0e0e0e;
}
main ul {
	margin: 0;
	padding: 0;
	background-color: #0e0e0e;
}
main li {
	list-style: none;
	display: block;
	margin: 1px 0;
}
main img {
	display: block;
	width: 100%;
}
main h2 {
	font-size: 18px;
	color: #FFCC00;
}
main .padded {
	padding: 5px 10px;
}

.musiclink {
	display: block;
	margin-bottom: 20px;
}
.musiclink img {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
}
