/* CSS Document */
body {
	margin: 0px;
	background: url(/img/bg.gif) #0e0e0e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header {
	background: #0e0e0e;
	color: #DDD;
	text-align: center;
	font-weight: bold;
	font-size: 26px;
}
.subheader {
	font-size: 26px;
	color: #FFCC00;
	text-align: center;
	font-weight: bold;
}
.subheader2 {
	font-size: 12px;
	color: #DDD;
	text-align: center;
	font-weight: normal;
}
td.menuline {
	background: #212121;
	color: #DDD;
	font-size: 12px;
	text-align: center;
}

a.menuline{
	color: #DDD;
	font-size: 12px;
	text-decoration: none;
}
a.menuline:hover {
	color: #FFCC00;
}

a.reglink {
	color: #DDD;
}

a.textlink {
	color: #DDD;
	text-decoration: none;
}
a.textlink:hover {
	color: #FFCC00;
}

.content {
	background: #0e0e0e;
	color: #DDD;
	font-size: 11px;
	text-decoration: none;
}

.h1 {
	color: #FFCC00;
	font-size: 16px;
	font-weight: bold;
}
.h2 {
	color: #ddd;
	font-size: 12px;
	font-weight: bold;
}

.h3 {
	background: #0e0e0e;
	color: #ddd;
	font-size: 11px;
	padding: 10px;
}

.music {
	background: #0e0e0e;
	color: #ddd;
	font-size: 10px;
	padding: 10px;
}

.musictitle {
	background: #212121;
	color: #ddd;
	font-size: 10px;
	padding: 2px;
}
.musiclink {
	color: #ddd;
}
.musiclink img {
	margin: 0 4px;
	vertical-align: middle;
}

.rightmenu {
	padding: 0px;
}

.album {
	background: #0e0e0e;
	color: #ddd;
	font-size: 10px;
	padding: 3px;
}

.footer {
	background: #0e0e0e;
	color: #DDD;
	font-size: 10px;
	text-align: center;
}
