<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Noé Cró - Música Popular Madeirense</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <center >
    <table width="780" height="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td height="120" align="center" valign="middle" class="header"><span class="header">Noé Cró. </span><span class="subheader">Música Popular Madeirense.</span><br><span class="subheader2">www.noecro.net | cronoe2009(a)hotmail.com</span>
        </td>
      </tr>
      <tr>
        <td height="30">
          <table height="30" width="100%" cellpadding="0" cellspacing="2">
            <tr>
              <td class="menuline" height="30" width="16%"><a href="index.html" class="menuline">Início</a></td>
              <td class="menuline" height="30" width="16%"><a href="sobre.html" class="menuline">Curriculum</a></td>
              <td class="menuline" height="30" width="16%"><a href="musica.html" class="menuline">Música</a></td>
              <td class="menuline" height="30" width="16%"><a href="banda.html" class="menuline">Cró Banda</a></td>
              <td class="menuline" height="30" width="16%"><a href="jornais.html" class="menuline">Jornais</a></td>
              <td class="menuline" height="30" width="16%"><a href="fotos.html" class="menuline">Fotos</a></td>
            </tr>
          </table>
        </td>
      </tr>

      {{ content }}

      <tr>
        <td height="25" class="footer" valign="middle">&copy; 2007-2010 Noé Cró</td>
      </tr>
    </table>
  </body>
</html>
